@model IEnumerable<SchoolProject.Models.Answer>

@{
    ViewBag.Title = "Answers";
}

<h2>Answers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnswerText)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.IsCorrect)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerText)
            </td>
            <td>
                @Html.DisplayFor(m => item.IsCorrect)
            </td>
        </tr>
    }

</table>
<p>@Html.ActionLink("Back","Index","StudentsTest")</p>
