@model SchoolProject.Models.StudentGroup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudentGroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)

        </dd>
        <dt>
            <p></p>
        </dt>
        <dd>
            <p></p>
        </dd>
        <dt>
            <p></p>
        </dt>
        <dd>
            <p></p>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Students)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>First name</th>
                    <th>Sure name</th>
                    <th>Email</th>
                    <th>Birthdate</th>
                </tr>
                @foreach (var item in Model.Students)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SureName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BirthDate)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentGroupID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
