@model SchoolProject.ViewModels.StudentGroupIndexData
@{
    ViewBag.Title = "Student Groups";
}
<h2>Student Groups</h2>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Title", "IndexStudent", new { sortOrder = ViewBag.TitleSortParm })
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.StudentGroups)
    {
        string selectedRow = "";
        if (item.StudentGroupID == ViewBag.StudentGroupID)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.ActionLink("Students", "IndexStudent", new { id = item.StudentGroupID }) 
            </td>
        </tr>
    }
</table>
@if (Model.Students != null)
{
    <h3>Students in selected Group</h3>
    <table class="table">
        <tr>
            <th>Last name</th>
            <th>First name</th>
            <th>Email</th>
            
        </tr>

        @foreach (var item in Model.Students)
        {
            string selectedRow = "";
            if (item.Id == ViewBag.StudentID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @item.SureName
                </td>
                <td>
                    @item.FirstName
                </td>
                <td>
                    @item.Email
                </td>
                
            </tr>
        }

    </table>
}
<p>
    @Html.ActionLink("Back", "Index", "Student")
</p>
