@model PagedList.IPagedList<SchoolProject.Models.EditUserViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "IndexStudent";
}

<h2>List of students</h2>
@using (Html.BeginForm("IndexStudent", "Account", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Last Name", "IndexStudent", new {sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("First Name", "IndexStudent", new {sortOrder = ViewBag.FirstNameSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            Email
        </th>
        <th>
            @Html.ActionLink("Birth Date", "IndexStudent", new {sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SureName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { email = item.Email }) |*@
                @Html.ActionLink("Delete", "Delete", new {email = item.Email})
            </td>
        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("IndexStudent",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
<p>
    @Html.ActionLink("Back", "Index", "Teacher")
</p>