@model SchoolProject.Models.Question

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ThematicField.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThematicField.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Points)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Explanation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Explanation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnswersList)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Text</th>
                    <th>Is Correct</th>
                    <th></th>
                </tr>
                @foreach (var item in Model.AnswersList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AnswerText)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsCorrect)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { answerID = item.AnswerID })
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuestionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
