
@*<h3>Teacher index Page</h3>
<h4>On this page you can manage testing and users.</h4>*@
<hr/>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Teacher index Page</h3>
    </div>
    <div class="panel-body">
        On this page you can manage testing and users.
    </div>
</div>

<ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="@Url.Action("Index", "Question")">Questions</a></li>
    <li role="presentation" class="active"><a href="@Url.Action("Index", "ThematicField")">Thematic Fields</a></li>
    <li role="presentation" class="active"><a href="@Url.Action("Index", "TestTemplate")">Test Templates</a></li>
    <li role="presentation" class="active"><a href="@Url.Action("Index", "StudentGroup")">Student Groups</a></li>
</ul>
<hr/>
<ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="@Url.Action("IndexStudent","Account")">Students</a></li>
    <li role="presentation" class="active"><a href="@Url.Action("IndexTeacher","Account")">Teachers</a></li>
    <li role="presentation" class="active"><a href="@Url.Action("Index", "StudentsTest")">Test Results</a></li>
    <li role="presentation" class="active"><a href="@Url.Action("Index","Role")">Administrative Roles</a></li>
</ul>

@*<dl class="dl-horizontal">
    <dt>
        1.
    </dt>
    <dd>
        <li>@Html.ActionLink("Questions", "Index", "Question")</li>
        
    </dd>
    <dt>
        2.
    </dt>
    <dd>
        <li>@Html.ActionLink("Thematic Fields", "Index", "ThematicField")</li>
    </dd>
    <dt>
        3.
    </dt>
    <dd>
        <li>@Html.ActionLink("Test Templates", "Index", "TestTemplate")</li>
    </dd>
    <dt>
        4.
    </dt>
    <dd>
        <li>@Html.ActionLink("Student Groups", "Index", "StudentGroup")</li>

    </dd>
    <dt>
        5.
    </dt>
    <dd>
        <li>@Html.ActionLink("Students", "IndexStudent", "Account")</li>
    </dd>
    <dt>
        6.
    </dt>
    <dd>
        <li>@Html.ActionLink("Teachers", "IndexTeacher", "Account")</li>
    </dd>
    <dt>
        7.
    </dt>
    <dd>
        <li>@Html.ActionLink("Test results", "Index", "StudentsTest")</li>
    </dd>
    <dt>
        8.
    </dt>
    <dd>
        <li>@Html.ActionLink("Administrative Roles", "Index", "Role")</li>
    </dd>

</dl>*@     
