
<h3>Teacher index Page</h3>
<h4>On this page you can manage testing and users.</h4>
<dl class="dl-horizontal">
    <dt>
        1.
    </dt>
    <dd>
        <li>@Html.ActionLink("Questions", "Index", "Question")</li>
    </dd>
    <dt>
        2.
    </dt>
    <dd>
        <li>@Html.ActionLink("Thematic Fields", "Index", "ThematicField")</li>
    </dd>
    <dt>
        3.
    </dt>
    <dd>
        <li>@Html.ActionLink("Test Templates", "Index", "TestTemplate")</li>
    </dd>
    <dt>
        4.
    </dt>
    <dd>
        <li>@Html.ActionLink("Student Groups", "Index", "StudentGroup")</li>

    </dd>
    <dt>
        5.
    </dt>
    <dd>
        <li>@Html.ActionLink("Students", "IndexStudent", "Account")</li>
    </dd>
    <dt>
        6.
    </dt>
    <dd>
        <li>@Html.ActionLink("Teachers", "IndexTeacher", "Account")</li>
    </dd>
    <dt>
        7.
    </dt>
    <dd>
        <li>@Html.ActionLink("Role", "Index", "Role")</li>
    </dd>

</dl>     



