@model SchoolProject.Models.TestTemplate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TestTemplate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentGroup.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentGroup.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ThematicFields)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Title</th>
                </tr>
                @foreach (var item in Model.ThematicFields)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Questions)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Text</th>
                    <th>Points</th>
                    <th>Thematic Field</th>
                </tr>
                @foreach (var item in Model.Questions)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Text)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Points)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ThematicField.Title)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.TestTemplateID}) |
    @Html.ActionLink("Refresh questions", "Refresh", new {id = Model.TestTemplateID}) |
    @Html.ActionLink("Back to List", "Index")
    
</p>
