@using System.Web.Mvc.Html
@model SchoolProject.ViewModels.TestViewModel
@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/jquery.countdown.css">
<script type="text/javascript" src="js/jquery.plugin.js"></script>
<script type="text/javascript" src="js/jquery.countdown.js"></script>*@

@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>
<h4>@Model.TestTemplateName</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <hr />
        <div class="container">

            @foreach (var question in Model.Questions)
            {
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">@question.Text</h3><br/>
                    </div>
                    @if (!question.MoreCorrectAnswers())
                    {
                        <div class="panel-body">
                            @foreach (var answer in question.AnswersList)
                            {
                                <input type="checkbox" name="selectedObjects" value="@answer.AnswerID,@question.QuestionID,@Model.TestTemplateName"/>
                                //<input type="radio" name="selectedObjects" value="@answer.AnswerID"/>
                                @Html.Raw("  ")
                                @Html.Label(answer.AnswerID.ToString(), answer.AnswerText)
                                <br/>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="panel-body">
                            @foreach (var answer in question.AnswersList)
                            {
                                <input type="checkbox" name="selectedObjects" value="@answer.AnswerID,@question.QuestionID,@Model.TestTemplateName"/>
                                @Html.Raw("  ")
                                @Html.Label(answer.AnswerID.ToString(), answer.AnswerText)
                                <br/>
                            }
                        </div>
                    }

                </div>
            }
            <input type="submit" value="OK" class="btn btn-success" />
        </div>
    </div>
}
<p>
    <br />
    @Html.ActionLink("Back to Tests", "IndexStudent", "TestTemplate")
</p>
